*{
  --content2:#1a4175;
  --content1: #dedede;
}
.outlineC2{
  background-color: transparent;
  color: var(--content2);
}
.outlineC2:hover{
  animation: C2gradient 1000ms;
  color: white;
  background-color: var(--content2) 
}
.Login{
  background-color: var(--content1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#form{
  margin-left: 30%;
  margin-right: 30%;
  padding: 20px;
  margin-top: 10%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: auto;
}